*{
	padding:0;
	margin:0;
	border:0;
}

body {
	font-family: "Raleway", sans-serif;
	min-width: none;
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	background-image: url('../img/wsBackground.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow-x: hidden;
}
 
/*ustawienia linków*/ 
a:link{
  text-decoration: none;
  color: #fff;
}

a:visited{
  text-decoration: none;
  color: #fff;
}

a:hover{
  color: #f17b13;
}
  
/*wyśrodkowanie nawigacji*/ 
.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
	font-size: 2rem;
}

.navbar .navbar-collapse {
	text-align: center;
}
  
 /*sekcja 1*/ 
#section1 {
	padding-top:50px;
	height:100vh;
	width:100%;
	color: #fff; 
	text-align: center;
	font-size: 50px;
	top: 50%;
}
}
  
#section1 h1,
#section1 p{
	position: relative;
	top: 100%; 	
}
  
#section1 h1{
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
	 0px -5px 35px rgba(255,255,255,0.3);
	color: #f17b13;
	text-transform: uppercase;
	font-size: 150%;
	margin-top: 30vh;
}
		   
#angle{
	position: absolute;
	bottom: 5%;
	font-size: 120%;
	animation-iteration-count: infinite;
	animation-delay: 1.5s;
	animation-duration: 1s;
	color: #fff;
}
  
 /*animacja strzałki*/
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/*sekcja 2*/	  
#section2 {
	padding-top:50px;
	padding-bottom: 20px;
	height:auto;
	width:100%;
	color: #fff;
	background-image: url('../img/chalkboard.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}
	  
#section2 p{
	letter-spacing: 2px;
	word-spacing: 4px;
	text-align: center;
	font-size: 2rem;
	margin: 50px;
}

#section2 i{
	font-size: 9rem;
}
		
/*sekcja 3*/	    
#section3 {
	padding-top:50px;
	height:auto;
	width:100%;
	color: #fff;
	text-align: center;
	background-image: url('../img/blackboard.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
	  
#section3 .container{
	width:60%;
	font-size:7rem;
}
 
#section3 h1{
	margin-bottom: 50px;
}
	
/*sekcja 4*/	
#section4 {
	padding-top:50px;
	width:100%;
	color: black;
	text-align: center;
	height: 100vh;
	margin-bottom: 50px;
}
	  
#section4 h1{
	color: white;
	margin-bottom: 50px;
}
	  
/*efekt ihover po najechaniu na kafelek z projektem*/
.ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item,
.ih-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ih-item a {
  color: #333;
}
.ih-item a:hover {
  text-decoration: none;
}
.ih-item img {
  width: 100%;
  height: 100%;
}

.ih-item.square {
	margin: 0 auto;
  position: relative;
  width: 316px;
  height: 216px;
  border: 8px solid #fff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.ih-item.square .info {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.ih-item.square.effect5.right_to_left .info {
  -webkit-transform: scale(0) rotate(180deg);
  -moz-transform: scale(0) rotate(180deg);
  -ms-transform: scale(0) rotate(180deg);
  -o-transform: scale(0) rotate(180deg);
  transform: scale(0) rotate(180deg);
}

.ih-item.square.effect6 {
  overflow: hidden;
}
.ih-item.square.effect6.colored .info {
  background: #1a4a72;
  background: rgba(26, 74, 114, 0.6);
}
.ih-item.square.effect6.colored .info h3 {
  background: rgba(12, 34, 52, 0.6);
}
.ih-item.square.effect6 .img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.ih-item.square.effect6 .info {
  background: #333333;
  background: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.square.effect6 .info h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
  background: #111111;
  margin: 30px 0 0 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.square.effect6 .info p {
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #bbb;
  padding: 20px 20px 20px;
  text-align: center;
  -webkit-transition: all 0.35s 0.1s linear;
  -moz-transition: all 0.35s 0.1s linear;
  transition: all 0.35s 0.1s linear;
}
.ih-item.square.effect6:hover .img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.ih-item.square.effect6:hover .info {
  visibility: visible;
  opacity: 1;
}

.ih-item.square.effect6.from_left_and_right .info h3 {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.ih-item.square.effect6.from_left_and_right .info p {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.ih-item.square.effect6.from_left_and_right:hover .info h3,
.ih-item.square.effect6.from_left_and_right:hover .info p {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}  
	 
.tile{
	margin-bottom: 20px;
}
	  
.github {
	font-family: Arial;
	color: #000000;
	font-size: 16px;
	background: #d4ca13;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	margin: 5px;
	outline: none;
}

.github:hover {
	background: #effc3c;
	text-decoration: none;
}
	  
/*sekcja 5*/	    
#section5 {
	padding-top:50px;
	height:400px;
	width:100%;
	color: #fff;
	text-align: center;
	background-color: #303030;
}
	  
#section5 .container{
	font-size: 0.8rem;
	position: relative;
	top: 15vh;
}

#section5 i{
		margin-bottom: 50px;
}
	  
/*przycisk przewijania do góry*/
.scrollup{
	width:51px;
    height:51px;
   opacity:0.3;
	position:fixed;
    bottom:50px;
    right: 0;
    display:none;
    text-indent:-9999px;
	background: url('../img/arrow.png') no-repeat;
}

/*stopoka*/
footer{
	background-color: #222;
	color: #fff;
	height: 70px;
	text-align: center;
}

footer p{
	position: relative;
	top: 30%;
}

/*media queries*/
@media (max-width: 991px){
	#section4{
		height: auto;
	}
}

@media (max-width: 767px){	
	#section5 i{
		font-size: 3rem;
	}
	#section2 p{
		font-size: 1.5rem;
	}
}

@media (max-width: 600px){	
	#section1 h1,
	#section1 p{
		font-size: 75%;
	} 
}

@media (max-width: 470px){
	#section5 i{
		font-size: 2rem;
	}
}

@media (max-width: 400px){
	.ih-item.square{
		width: 70%;
		height: 70%;
	}
	.ih-item.square.effect6 .info h3{
		font-size: 0.8rem;
		margin: 0;
	}
	.ih-item.square.effect6 .info p{
		display: none;
	}
	.github{
		font-size: 10px;
	}
}

@media (max-width: 330px){
	#section5 i{
		font-size: 1.8rem;
	}
}



